################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Notes/WeekOf21August
/FromRetterer
/Assignments
/FromRetterer
